body {
    margin: 0;
}

.page {
    width: 1000px;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    text-align: center;
}

h1 {
    margin-top: 35px 0 15;
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: normal;
}

h1 span {
    font-weight: bold;
    color: #EE24FF;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #828282;
}

p span, a {
    color: #3F3D56;
    font-weight: bold;
}

footer {
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    font-size: 15px;
    line-height: 22px;
}

nav {
    display: flex;
    justify-content: center;
}

ul {
    padding-top: 10px;
    border-top: solid #3F3D56 1px;
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    width: 500px;
}

#wave {
    width: 1000px;
}